<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name %>
  </div>

  <div class="field">
    <%= form.label :member_ids, 'Participaciones' %>
    <%= form.select(:member_ids, options_from_collection_for_select(Member.all, :id, :to_s, { selected: course.member_ids }), { id: :member_ids }, { multiple: true }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
