<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="menu">
      <li><%= link_to 'Bienvenida', root_path %></li>
      <li>
        <%= link_to 'Cursos', courses_path %>
      </li>
      <li>
      <%= link_to "Miembros", members_path %>
      </li>
      <li>
        <%= link_to "Tests", tests_path %>
      </li>
      <li>
        <%= link_to "Evaluaciones", evaluations_path %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
